<footer>  
    <div class="logo-container">
        <img src="/images/Logo_footer.PNG" alt="Logo width="100" height="100">
    </div>
    <div class="menu-footer-container">
        <ul class="menu-footer-nav">
            <li class="item-footer-menu"><a href="/">Home</a></li>
            <li class="item-footer-menu"><a href="/descricao">Descrição</a></li>
            <li class="item-footer-menu"><a href="/tecnologias-e-ferramentas">Tecnologias e Ferramentas</a></li>
            <li class="item-footer-menu"><a href="/desenvolvedores">Desenvolvedores</a></li>
            <li class="item-footer-menu"><a href="/contato">Contato</a></li>
        </ul>
    </div>
    <div class="footer-text-container">
        <p>
        Projeto desenvolvido por Marcos Vinicius Dos Santos Rodrigues <br>
        para a disciplina de programção web 2.
        </p>
    </div>
</footer>