<header>
    
    <div class="logo-container">
        <img src="/images/logo.PNG" alt="Logo width="100" height="70">
    </div>
    <div class="menu-container">
        <ul class="menu-nav">
            <li class="item-menu">Home</li>
            <li class="item-menu">Descrição</li>
            <li class="item-menu">Tecnologias e Ferramentas</li>
            <li class="item-menu">Desenvolvedores</li>
            <li class="item-menu">Contato</li>
        </ul>
    </div>
</header>