<header>  
    <div class="logo-container">
        <img src="/images/logo.PNG" alt="Logo width="100" height="70">
    </div>
    <div class="menu-container">
        <ul class="menu-nav">
            <li class="item-menu"><a href="/">Home</a></li>
            <li class="item-menu"><a href="/descricao">Descrição</a></li>
            <li class="item-menu"><a href="/tecnologias-e-ferramentas">Tecnologias e Ferramentas</a></li>
            <li class="item-menu"><a href="/desenvolvedores">Desenvolvedores</a></li>
            <li class="item-menu"><a href="/contato">Contato</a></li>
        </ul>
    </div>
</header>