<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">

    <title>Ponto Online</title>
  </head>
  <body class="background">
    {{>Header}}
    <main>
        <div class="modal">
            <form class="modal-content animate" action="/descricao" method="post">
                <div class="container">
                    <h1 class="title">Ponto Online</h1>
                    <div class="txt">
                      <div id="txt">
                        <script src="/javascripts/txt.js"></script>
                      </div>
                    </div>
                    <label for="uname"><b>Email</b></label>
                    <input type="email" placeholder="Digite seu E-mail" id="email" name="email" value="{{task.email}}" required>

                    <label for="psw"><b>Senha</b></label>
                    <input type="password" placeholder="Digite sua senha" id="senha" name="senha" value="{{task.senha}}" required>
                    <button type="submit" value="Login">Login</button>  
                </div>
            </form>
        </div>
    </main>
    {{>Footer}}
  </body>
</html>