<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">

    <title>Ponto Online - Perfil</title>
  </head>
  <body class="background">
    {{>HeaderLogin}}
    <main>
    <div class="modal">
        <form class="modal-content-ed animate" action="/perfil/editar" method="post">
          <div class="container">
              <h1 class="title">Editar Usuário</h1>

              <label for="email"><b>Email</b></label>
              <input type="email" placeholder="Digite seu E-mail" id="email" name="email" required>

              <label for="senha"><b>Senha</b></label>
              <input type="password" placeholder="Digite sua senha" id="senha" name="senha" required>

              <button type="submit">Editar</button>  
          </div>
        </form>
        <form class="modal-content animate" action="/perfil/excluir" method="post">
          <div class="container">
              <button type="submit">Excluir</button>  
          </div>
        </form>
    </div>
    </main>
    {{>Footer}}
  </body>
</html>