<html lang="pt-br">
  <body class="background">
       <p>
            <ul>
                <li class="list1">HTML</li>
                <li class="list1">CSS</li>
                <li class="list1">JavaScript</li>
                <li class="list1">Node.js</li>
                <li class="list1">Express</li>
                
            </ul> 
       </p>
        <p>
            <ul>
                <li class="list2">Nodemon</li>
                <li class="list2">Mustache</li>
                <li class="list2">Joi</li>
                <li class="list2">Nodemailer</li>
                <li class="list2">MongoDB</li>   
            </ul> 
       </p>   
  </body>
</html>